    .container-fluid {
        min-height: 100% !important;
    }

    form {
        height: 100%;
        margin: 0;
    }
    
    select {
        width: auto;
    }

    .logo {
        background: linear-gradient(0deg, #1c1b20 0%, #302e36 100%);
        text-align: center;
        padding: 10px 0;
        width: 100%;
        box-shadow: 0 0 20px #000000;
        z-index: 99;
        margin: -5px 0 20px 0;
    }
    
    .bg-form .row {
        margin:-5px auto  0 auto !important;
    }
    
    .bg-form .col-xs-4 {
        float: none !important;
        margin: 0 auto;
    }

    .bg-form {
        background: #ffffff;
        width: 100%;
        z-index: 9;
        padding: 5px 0;
    }

    #second {
        margin: 5px 0 0 0;
    }

    .border {
        border-bottom: 1px solid #eeeeee !important;
    }

    hr {
        margin: 10px 0 !important;
    }

    .col-sm-9 hr {
        width: 70%;
    }

    .col-xs-4 .col-xs-10 {
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    .img-responsive {
        display: inline;
    }

    label.ellipsis {
        margin: -9px 0 0 !important;
        padding: 0 !important;
        color: #cccccc;
    }

    .span4 {
        float: none !important;
        margin: 0 auto !important;
    }

    .row-fluid {
        margin: 40px 0 0 0;
    }
    
    .block {
        margin: 40px 0 0 0;
    }

    .block .col-xs-4:nth-child(2) { background: url('/img/divider.png') 0 50% no-repeat;  }
    .block .col-xs-4:nth-child(3) { background: url('/img/divider.png') 0 50% no-repeat;  }

    .controls {
        margin: 0 !important;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .block .col-xs-4 {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    
    .input-group .form-control {
        font-size: 5vw;
        height: 10vw;        
    }
    
    .form-group .form-control-feedback {
        line-height: 10vw;        
    }

/*  ////////////////////////// MODAL ////////////////////////// */ 

    .modal-header {
        padding: 1px 15px !important;
        border-radius: 4px 4px 0 0;
        background: linear-gradient(0deg, #1c1b20 0%, #302e36 100%);
        box-shadow: 0 0 20px #000000;
    }

    .has-success .form-control-feedback{
        color: #6A6A6A;
    }

    .close {
        opacity: 1.0 !important;
    }

    .modal-footer {
        border: none !important;
        background: none !important;
    }

    .modal-content label {
        font-size: 3vw;
        text-transform: uppercase !important;
    }


    .modal .col-xs-1, .modal .col-xs-2, .modal .col-xs-3, .modal .col-xs-4, .modal .col-xs-5,
    .modal .col-xs-6, .modal .col-xs-7, .modal .col-xs-8, .modal .col-xs-9, .modal .col-xs-10,
    .modal .col-xs-11, .modal .col-xs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 5px !important;
      padding-left: 5px !important;
    }

    .modal .form-control {
        padding: 6px 5px !important;
    }

    .bootstrap-dialog-header {
        padding: 10px 0;
    }

    .modal-header .close {
        float: none;
        margin-left: 4px;
        margin-top: -1px;
        display: block;
    }

    .field-error {
       border: 1px solid #ff0000; 
    }
    
    input[type="checkbox"].field-error {
        outline: 2px solid #F00;
    }
    
    .i_agree input[type="checkbox"]{
        height: auto;
    }

.bootstrap-dialog-title {
    color: #ffffff;
    font-weight: bold;
}

/* ///////// BUTTONS ///////// */

    .but_width {
        width: 100%;
    }

    .bootstrap-dialog-close-button {
        background: #fff;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        float: right;
    }

    .btn-full {
        width: 100%;
    }

    button.btn-primary {
        background: linear-gradient(0deg, #1c1b20 0%, #302e36 100%);
        border-radius: 3px;
        box-shadow: 2px 4px 3px 0.00px rgba(0, 0, 0, 0.65);
        padding: 10px 15px;
        font-size: 5vw;
        font-weight: bold;
        color: #ffbe25;
        text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.39);
        text-transform: uppercase;   
        display: block;
        margin: 0 auto;
        border: none;
    }

    .inner-btn {
        font-size: 16px !important;
    }

    #m_btn {
        /*margin: -100px auto 0 auto;*/
    }
    
/* ///////// INPUTS ///////// */    

    .main input {
        border: none !important;
        font: OpenSans;
        box-shadow: none !important;
    }

    .input-group-addon{
        border: none !important;
        box-shadow: none !important;
        background-color: #ffffff !important;
    }
    
    .checkbox input[type="checkbox"] {
        float: left;
        margin-left: -20px;
        width: auto;
        margin-right: 8px;
    }

    .checkbox label {
        text-transform: none;
        color: #808080;
        font-weight: normal;
    }
    
    input[type="datetime-local"] {
        background: none !important;
    }
    
    .placeholder-mobile {
        color: #999999;
        font-size: 5vw;
        height: 100%;
        padding: 5px 0 0 12px;
        position: absolute;
        z-index: 99;
        background: #ffffff;
    }
    
    
@media (min-width: 1280px) {
    
    .input-group .form-control {
        font-size: 2vw;
        height: 4vw;
    }   
    
    .form-group .form-control-feedback {
        line-height: 4vw;
    }     
    
    .placeholder-mobile {
        font-size: 3vw;
    }    
  
}     