html, body {
    height: 100%;
    margin: 0;
    /*overflow:  hidden;*/
    font-size: 5vw !important;
}

#content {
    height: 100%;
    width: 100%;
}

body {
    background: url('/img/background.jpg');
}

body.nobg {
    background: none;
}

.main {
    margin: 0 auto ;
    /*min-height: 100%;*/
    display: block;
}

.top-indent {
    height: 9%;
}

#pad { padding: 0 10px; }

.logotype{
    display: block;
    text-align: center;
}

.total_amount {
    color:#fff;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    margin-top:2%;
}

.cost {
    font-size:65px;
}

.phone-bottom {
    display: block;
    margin: 0 auto;
}

.footer {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    bottom: 0;
    margin: 7% auto 0 auto;
    text-align: center;
}

.footer img {
    display: inline;
}


.btn-ontop {
    margin-top: 3% !important;
}

a.btn-primary {
    background: linear-gradient(0deg, #1c1b20 0%, #302e36 100%);
    border-radius: 3px;
    box-shadow: 2px 4px 3px 0.00px rgba(0, 0, 0, 0.65);
    padding: 10px 15px;
    font-size: 5vw !important;
    font-weight: bold;
    color: #ffbe25;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.39);
    text-transform: uppercase;
    display: block;
    margin: 10% auto 2% auto;
    border: none;
}

@media (min-width: 768px) {

    html, body {
        font-size: 3vw !important;
    }

    #m_btn {
        /*margin: -130px auto 0 auto !important;*/
    }

    .modal-content label {
        font-size: 2vw !important;
    }

}

@media (min-width: 1280px) {
    html, body {
        font-size: 20px !important;
        overflow:  auto;
    }

    #content {
        width: 1280px;
        margin: 0 auto;
    }

    a.btn-primary {
        font-size: 2vw !important;
    }

    .logo img {
        width: 200px;
    }

    .modal-content label {
        font-size: 16px !important;
    }

    button.btn-primary {
        font-size: 2vw !important;
    }

}
